
            
            .heart-container {
              --heart-color: rgb(91, 173, 255);
              position: relative;
              width: 50px;
              height: 50px;
              transition: .3s;
            }
            
            .heart-container .checkbox {
              position: absolute;
              width: 100%;
              height: 100%;
              opacity: 0;
              z-index: 20;
              cursor: pointer;
            }
            
            .heart-container .svg-container {
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
            }
            
            .heart-container .svg-outline,
                    .heart-container .svg-filled {
              fill: var(--heart-color);
              position: absolute;
            }
            
            .heart-container .svg-filled {
              animation: keyframes-svg-filled 1s;
              display: none;
            }
            
            .heart-container .svg-celebrate {
              position: absolute;
              animation: keyframes-svg-celebrate .5s;
              animation-fill-mode: forwards;
              display: none;
              stroke: var(--heart-color);
              fill: var(--heart-color);
              stroke-width: 2px;
            }
            
            .heart-container .checkbox:checked~.svg-container .svg-filled {
              display: block
            }
            
            .heart-container .checkbox:checked~.svg-container .svg-celebrate {
              display: block
            }
            
            @keyframes keyframes-svg-filled {
              0% {
                transform: scale(0);
              }
            
              25% {
                transform: scale(1.2);
              }
            
              50% {
                transform: scale(1);
                filter: brightness(1.5);
              }
            }
            
            @keyframes keyframes-svg-celebrate {
              0% {
                transform: scale(0);
              }
            
              50% {
                opacity: 1;
                filter: brightness(1.5);
              }
            
              100% {
                transform: scale(1.4);
                opacity: 0;
                display: none;
              }
            }






            :root {

                --darkred: #0a5c0a;
                --platinum: #e5e5e5;
                /* --black: #ffffff; */
                --black: #2b2d42;
                --thumb: #edf2f4;
              }
  
              * {
                box-sizing: border-box;
                padding: 0;
                margin: 0;
              }
  
              body {
                font: 16px / 24px "Rubik", sans-serif;
                color: var(--black);
                background: var(--platinum);
                margin: 50px 0;
              }
  
              .container {
                max-width: 1400px;
                padding: 0 15px;
                margin: 0 auto;
              }
  
              h2 {
                font-size: 32px;
                margin-bottom: 1em;
              }
  
              .cards {
                display: flex;
                padding: 25px 0px;
                list-style: none;
                overflow-x: scroll;
                -ms-scroll-snap-type: x mandatory;
                scroll-snap-type: x mandatory;
              }
  
              .card {
                display: flex;
                flex-direction: column;
                flex: 0 0 100%;
                padding: 20px;
                background: var(--white);
                border-radius: 12px;
                box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
                scroll-snap-align: start;
                transition: all 0.2s;
              }
  
              .card:not(:last-child) {
                margin-right: 10px;
              }
  
              .card:hover {
                color: var(--white);
                background: var(--red);
              }
  
              .card .card-title {
                font-size: 20px;
              }
  
              .card .card-content {
                margin: 20px 0;
                max-width: 85%;
              }
  
              .card .card-link-wrapper {
                margin-top: auto;
              }
  
              .card .card-link {
                display: inline-block;
                text-decoration: none;
                color: white;
                background: var(--red);
                padding: 6px 12px;
                border-radius: 8px;
                transition: background 0.2s;
              }
  
              .card:hover .card-link {
                background: var(--darkred);
              }
  
              .cards::-webkit-scrollbar {
                height: 12px;
              }
  
              .cards::-webkit-scrollbar-thumb,
              .cards::-webkit-scrollbar-track {
                border-radius: 92px;
              }
  
              .cards::-webkit-scrollbar-thumb {
                background: var(--darkred);
              }
  
              .cards::-webkit-scrollbar-track {
                background: var(--thumb);
              }
  
              @media (min-width: 500px) {
                .card {
                  flex-basis: calc(50% - 10px);
                }
  
                .card:not(:last-child) {
                  margin-right: 20px;
                }
              }
  
              @media (min-width: 700px) {
                .card {
                  flex-basis: calc(calc(100% / 3) - 20px);
                }
  
                .card:not(:last-child) {
                  margin-right: 30px;
                }
              }
  
              @media (min-width: 1100px) {
                .card {
                  flex-basis: calc(25% - 30px);
                }
  
                .card:not(:last-child) {
                  margin-right: 40px;
                }
              }



              input[type="checkbox"] {
                display: none;
              }
              
              label svg {
                width: 44px;
                height: 44px;
                fill: none;
                stroke: #000;
                stroke-width: 2px;
              }
              
              input[type="checkbox"]:checked + label svg {
                fill: #FFC107;
                animation: pop_42 0.5s ease-out;
              }
              
              @keyframes pop_42 {
                0% {
                  transform: scale(1);
                }
              
                50% {
                  transform: scale(1.5);
                }
              
                100% {
                  transform: scale(1);
                }
              }
              












              input[type="checkbox"].nueva-clase-checkbox {
                display: none;
              }
              
              label.nueva-clase-label svg {
                width: 44px;
                height: 44px;
                fill: none;
                stroke: #000;
                stroke-width: 2px;
              }
              
              input[type="checkbox"].nueva-clase-checkbox:checked + label.nueva-clase-label svg {
                fill: #FFC107;
                animation: pop_42 0.5s ease-out;
              }
              
              @keyframes pop_42 {
                0% {
                  transform: scale(1);
                }
              
                50% {
                  transform: scale(1.5);
                }
              
                100% {
                  transform: scale(1);
                }
              }
              


/* sdaddsds */



















